# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/*.vcxproj
/*.filters
/*.user
/x64
x64
/MTcpServer.vcxproj
/MTcpServer.vcxproj.filters
/MTcpServer.vcxproj.user
MTcpServer.vcxproj.user
MTcpServer.vcxproj
MTcpServer.vcxproj.filters
